{% extends 'base.html' %}
{% block content %}
<div class="text-center mt-5">
    <img src="/static/images/logo.jpg" alt="IFA Hotels Logo" style="max-width: 200px;">
    <h1 class="mt-3">Welcome to the IFA Hotels CRM</h1>
    <p class="lead mt-4">This CRM system is designed to help the sales department manage:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Bus Group Tour Operators</li>
        <li class="list-group-item">Special Price Conditions</li>
        <li class="list-group-item">Seasons and Pricing Structures</li>
        <li class="list-group-item">Number of Guests and Group Details</li>
        <li class="list-group-item">Sales Activities and Follow-ups</li>
        <li class="list-group-item">Booking History and Reports</li>
    </ul>
    <p class="mt-4">Use the navigation bar to access different sections of the CRM.</p>
</div>
{% endblock %}